<form method="post" action="{{ path('articles_delete', {'id': article.id}) }}" onsubmit="return confirm('Möchtest du diesen Artikel wirklich löschen?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="my-1 uk-button uk-button-danger">Löschen</button>
</form>
