{% extends 'base.html.twig' %}

{% block title %}Artikel bearbeiten{% endblock %}

{% block body %}
    <h1>Artikel bearbeiten</h1>

    {{ include('articles/_form.html.twig', {'button_label': 'Aktualisieren'}) }}

    <a class="uk-button uk-button-text my-1" href="{{ path('articles_index') }}">Zurück zur Übersicht</a>

    {{ include('articles/_delete_form.html.twig') }}
{% endblock %}
