{% extends 'base.html.twig' %}

{% block title %}Neuen Artikel erstellen{% endblock %}

{% block body %}
    <h1>Neuen Artikel erstellen</h1>

    {{ include('articles/_form.html.twig') }}
    <br />
    <a class="uk-button uk-button-text" href="{{ path('articles_index') }}">Zurück zur Übersicht</a>
{% endblock %}
