{% extends 'base.html.twig' %}

{% block title %}Neuen Artikel erstellen{% endblock %}

{% block body %}
    <h1>Neuen Artikel erstellen</h1>
    {% for label, messages in app.flashes %}
      {% for message in messages %}
        <div uk-alert class="uk-alert-{{ label }}">
          <a class="uk-alert-close" uk-close></a>
          {{ message }}
        </div>
      {% endfor %}
    {% endfor %}
    {{ include('articles/_form.html.twig') }}
    <br />
    <a class="uk-button uk-button-text" href="{{ path('articles_index') }}">Zurück zur Übersicht</a>
{% endblock %}
